.header.clearfix
  nav.navbar.navbar-inverse.navbar-fixed-top
    a.navbar-brand(href='/') TODOapp
    ul.nav.nav-pills.pull-right
      li(role='presentation')
        a(href='/todos') List Tasks
      li(role='presentation')
        a(href='/completed') Completed
 
    