<!DOCTYPE html>
<html lang="en" ng-app="simpleApp">

<head>
	<meta charset="UTF-8">
	<title>AnguApp</title>
	<link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css">
	<link rel="stylesheet" href="styles/style.css">
</head>

<body>
	<h1>My App</h1>

	<div class="firstBox" ng-controller="myController">
		<h3>{{myMessage}}</h3>
	</div>

	<div class="secondBox" ng-controller="mySecondController">
		<h3>{{myMessage}}</h3>
	</div>

	<div class="otherBox" ng-controller="calculatorController">
		<input type="number" ng-model="num1" placeholder="a number here...">
		<input type="number" ng-model="num2" placeholder="other number here...">
		<button ng-click="calculate()">Do something</button>
		<h3> 🔜{{result}}</h3>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="app/app.js"></script>
	<script src="app/controllers/mainController.js"></script>
</body>

</html>