.container {
  /*background-color: black;*/
}

form {
  padding: 20px;
}

button {
  margin: 0px 10px;
}

#completedList {
  font-size: 18px;
}

#completed-item {
  text-decoration: line-through;
}

#completed-date {
  text-decoration: none;
}

.jumbotron {
  padding-top: 80px;
  background-color: white;
}

.input-lg {
  outline: none;
  border: 1px solid gray;
}


.glyphicon {
  margin-left: 20px;
}

#confirm {
  background-color: red;
  color: white;
}

nav li {
  font-size: 18px;
}

.list-item {
  margin-left: 175px;
}

.edit {
  margin-left:20px;
  font-size: 20px;
  border: none;
  outline: none;
}

#date {
  margin-left:175px;
}

.mainList{
  list-style: none;
  padding: 10px;
}

#date {
  font-size: 18px;
}

