.header.clearfix
  nav.navbar.navbar-inverse.navbar-fixed-top
    a.navbar-brand(href='/tasks') TODOapp
    ul.nav.nav-pills.pull-right
      li(role='presentation')
        a(href='/tasks') List Tasks
      li(role='presentation')
        a(href='/completed') Completed
 
    